#editArea {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.slateBlocks {
  width: 50%;
  color: rgb(90, 90, 90);
}

.slate {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 5px 0;
}

.editable {
  width: 92%;
  line-height: 25px;
}

::selection {
  color: #fff;
  background-color: mediumaquamarine;
}

.slate .block-button {
  visibility: visible;
  width: auto;
  border: none;
  background-color: white;
  color: gray;
  border-radius: 2px;
  font-size: 20px;
  cursor: pointer;
}

.slate .block-button:hover {
  background-color: rgb(223, 223, 223);
}

#toggle-bar {
  position: absolute;
  z-index: 9999;
  box-shadow: 3px 5px 10px rgb(0 0 0 / 20%);
  opacity: 0.95;
  background-color: white;
  transition: visibility 0.3s ease-in;
}
