.editArea {
  display: flex;
  justify-content: center;
}

.slateBlocks {
  width: 50%;
}

.slate {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 5px 0;
}

.editable {
  width: 95%;
}

.switch {
  visibility: visible;
  width: auto;
  border: none;
  background-color: white;
  color: gray;
  border-radius: 1px;
  font-size: 20px;
  cursor: pointer;
}

.switch:hover {
  background-color: rgb(223, 223, 223);
}
